<!-- 
Copyright 2015 Victor de la Rosa Sanchez
This file is part of CalendApp.

    CalendApp is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    CalendApp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CalendApp.  If not, see <http://www.gnu.org/licenses/>.
 -->
 {% extends "includes/basic.html" %}
{% load staticfiles %}
{% block content %}
<br>
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Crea una nueva tarea
            </div>
            <div class="panel-body">
                <form role="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="description" class="form-control" rows="3" placeholder="Descripción" style="resize: none" required></textarea>   
                    </div>
                    <div class="from-group">
                        <select class="form-control" id="importance" name="importance" required>
                            <option value=1>Poco importante</option>
                            <option value=2 selected="">Normal</option>
                            <option value=3>Importante</option>
                            <option value=4>Muy importante</option>
                            <option value=5>Súper importante</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" name="progress" class="form-control" min="0" max="100" placeholder="Progreso" required>
                    </div>
                    <br>
                    <center><button type="submit" class="btn btn-success">Crear tarea</button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}