<!-- 
Copyright 2015 Victor de la Rosa Sanchez
This file is part of CalendApp.

    CalendApp is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    CalendApp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CalendApp.  If not, see <http://www.gnu.org/licenses/>.
 -->
 {% extends "includes/basic.html" %}
{% load staticfiles %}
{% block content %}
    <h1 class="page-header">{{ now|date:'F Y' }}</h1>
    <center><div class="row">
        {% if now.month == 1 %}
        <a href="{% url 'indexCalendar' now.year|add:"-1" 12 %}" class="btn btn-warning"><i class="fa fa-chevron-left fa-fw"></i> Mes anterior</a>
        {% else %}
        <a href="{% url 'indexCalendar' now.year now.month|add:"-1" %}" class="btn btn-warning"><i class="fa fa-chevron-left fa-fw"></i> Mes anterior</a>
        {% endif %}
        <a href="{% url 'index' %}" class="btn btn-info">Hoy</a>
        {% if now.month == 12 %}
        <a href="{% url 'indexCalendar' now.year|add:"1" 1 %}" class="btn btn-warning">Mes siguiente <i class="fa fa-chevron-right fa-fw"></i></a>
        {% else %}
        <a href="{% url 'indexCalendar' now.year now.month|add:"1" %}" class="btn btn-warning">Mes siguiente <i class="fa fa-chevron-right fa-fw"></i></a>
        {% endif %}
    </div></center>
    <br>
        <center><div class="row">
            <div class="squareDay">
                <center><h4>L</h4></center>
            </div>
            <div class="squareDay">
                <center><h4>M</h4></center>
            </div>
            <div class="squareDay">
                <center><h4>X</h4></center>
            </div>
            <div class="squareDay">
                <center><h4>J</h4></center>
            </div>
            <div class="squareDay">
                <center><h4>V</h4></center>
            </div>
            <div class="squareDay">
                <center><h4>S</h4></center>
            </div>
            <div class="squareDay">
                <center><h4>D</h4></center>
            </div>
        </div>
        {% for i in result %}
        {% if forloop.counter0|divisibleby:7 %}
            <div class="row">
        {% endif %}
        {% if i.2 == today|date:'d/m/Y' %}
            <a href="{% url 'day' i.0 i.1 now.year %}" class="square today">
        {% else %}
            <a href="{% url 'day' i.0 i.1 now.year %}" class="square">
        {% endif %}
                <center><h4>{{ i.0 }}</h4></center>
                
                {% for day in all_events %}
                    {% if i.2 == day|date:'d/m/Y' %}
                    <span><i class="fa fa-calendar fa-fw"></i></span>
                    {% endif %}
                {% endfor %}
                {% for day in all_meetings %}
                    {% if i.2 == day|date:'d/m/Y' %}
                    <span><i class="fa fa-coffee fa-fw"></i></span>
                    {% endif %}
                {% endfor %}
                
            </a>
        {% if forloop.counter|divisibleby:7 %}
            </div>
        {% endif %}
        {% endfor %}</center>
{% endblock content %}