<!-- 
Copyright 2015 Victor de la Rosa Sanchez
This file is part of CalendApp.

    CalendApp is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    CalendApp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CalendApp.  If not, see <http://www.gnu.org/licenses/>.
 -->
 {% extends "includes/basic.html" %}
{% load staticfiles %}
{% block content %}
    <h1 class="page-header">Tareas</h1>
    {% for job in all_jobs %}
        <a href="{% url 'edit_job' job.pk %}"><div class="col-md-3 bordered">
            <p style="color: black">{{ job.description  }}</p>
            <center><span class="text-muted">
            {% if job.importance == 1 %}
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            {% elif job.importance == 2 %}
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            {% elif job.importance == 3 %}
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            {% elif job.importance == 4 %}
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
            {% elif job.importance == 5 %}
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle"></i>
            {% endif %}
            </span></center>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ job.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.progress }}%"></div>
            </div>
        </div></a>
        <div class="col-md-1"></div>
    {% endfor %}
{% endblock content %}